.col-sm-1
.col-sm-2#navbar
  %ul.nav.nav-pills.nav-stacked
    %li.nav-link
      = link_to 'Home', root_path
    %li.nav-link
      = link_to 'Location', location_path
    %li.nav-link.dropdown
      = link_to 'Make an Appointment <span class="caret"></span>'.html_safe, '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' }
      %ul.nav.nav-pills.nav-stacked.hidden_menu
        %li.nav-link
          = link_to 'Repair', new_appointments_path(type: 'repair')
        %li.nav-link
          = link_to 'Check Up', new_appointments_path(type: 'checkup')
    %li.nav-link
      = link_to 'About Us', about_path
    - if current_admin
      %hr
      %li.nav-link
        = link_to 'Admin Panel', admin_path
      %li.nav-link
        = link_to 'Log Out', sign_out_path
  %hr
  #footer
    &copy; 2014 Sakura Web

:javascript
  $('.dropdown').click(function() {
    $('> .hidden_menu', this).slideToggle('slow');
  });
