<!DOCTYPE html>
%html
%head
  %title One Stop Auto and Hitch
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

.container-fluid
  .row#banner
    .col-sm-12
      This is a placeholder
  .row#navbar_row
    = render partial: 'shared/navbar'
    .col-sm-6#content_box
      = yield
    = render partial: 'shared/back_to_top'
