<!DOCTYPE html>
%html
%head
  %title One Stop Auto and Hitch
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Delius+Swash+Caps'
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

%body
  .container-fluid
    .row#banner
      .col-sm-12
        %h1= link_to 'One Stop Auto and Hitch', root_path
      .col-sm-12.car_procession
        .car_procession1
        .car_procession2
        .car_procession3
        .car_procession4
    .row#navbar_row
      = render partial: 'shared/navbar'
      .col-sm-6#content_box
        - if flash[:success]
          .alert.alert-success
            = link_to '&times;'.html_safe, '#', class: 'close', data: { dismiss: 'alert' }
            = flash[:success]
            - flash.delete(:success)
        - if flash[:error]
          .alert.alert-danger.alert-error
            = link_to '&times;'.html_safe, '#', class: 'close', data: { dismiss: 'alert' }
            = flash[:error]
            - flash.delete(:error)
        = yield
      = render partial: 'shared/back_to_top'
